body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0efeb;
  margin: 0;
}

.top-bar {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: space-around;
  margin-bottom: 10px;
  width: 100%;
}

.top-bar .input-name-group {
  align-items: flex-start;
  display: flex;
}

.top-bar .input-terms-group {
  align-items: flex-start;
  display: flex;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.items {
  display: flex;
  flex-basis: 70%;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  border: 2px solid #06d6a0;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 5px;
  width: 200px;
}

.item .item__sku {
  display: none;
}

.item .item__title {
  flex-grow: 1;
  padding: 10px;
  text-align: center;
}

.item .item__image {
  width: 100%;
  border-radius: 20px;
}

.item .item__add {
  cursor: pointer;
  margin: 0;
  padding: 5px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #06d6a0;
  border: none;
  font-weight: 500;
}

.item .item__add:hover {background-color: #ef476f}

.item .item__addt:active {
  background-color: #ef476f;
}

.cart {
  display: flex;
  flex-basis: 30%;
  flex-flow: column wrap;
  height:fit-content;
  margin-right: 35px;
}

.cart .cart__title {
  flex-basis: 1;
  font-size: 16pt;
  text-align: center;
  font-weight: 700;
  color: #073b4c;
  border-radius: 20px;
  margin-bottom: 10px;
}

.cart .cart__item {
  margin: 15px 15px 20px 0px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}

/* Estilização do botão empty-cart vista no link https://www.w3schools.com/css/css3_buttons.asp */

.empty-cart {
  display: inline-block;
  padding: 5px 5px;
  margin: 0px 35px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  font-weight: 600;
  background-color: #ffd166;
  border: none;
  border-radius: 15px;
  box-shadow: 0 3px rgb(202, 198, 198);
}

.empty-cart:hover {background-color: #ef476f}

.empty-cart:active {
  background-color: #ef476f;
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}

header {
  display: flex;
  justify-content: center;
  background-color: #ffd166;
  padding: 15px;
  margin-bottom: 10px;
}

.fa-opencart {
  font-size: 55px;
  margin-right: 25px;
  background-color: #ffd166;
  color: #ef476f;
}

h1 {
  background-color: #ffd166;
  font-family: 'Vanilla Extract', sans-serif;
  color: #073b4c;
}

p {
  background-color: white;
  text-align: center;
  border-radius: 20px;
  padding: 5px;
  color: #073b4c;
  font-weight: 700;
  width: fit-content;
  align-self: flex-end;
  margin-top: 0;
}

/* Loader inspirado no código visto no link https://www.w3schools.com/howto/howto_css_loader.asp */

.loading {
  border: 10px solid white;
  border-radius: 50%;
  border-top: 10px solid #06d6a0;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
};

