@font-face {
  font-family: Neon80s;
  src: url('fonts/Neon80S-8jL2.ttf');
}

@font-face {
  font-family: FiraSans;
  src: url('./fonts/FiraSans-Regular.ttf');
}

body {
  font-family: FiraSans, Ubuntu, Cantrell, sans-serif;
  margin: 0;
  padding: 0;
}

.top-bar {
  align-items: center;
  display: flex;
  height: 80px;
  position: absolute;
  justify-content: space-around;
  margin-bottom: 10px;
  width: 100%;
  background-color: blue;
  color: white;
  box-shadow: 0 2px 2px black;
}

.top-bar-title {
  font-weight: 400;
  font-size: 40pt;
  font-family: Neon80s;
  user-select: none;
}

.top-bar .input-name-group {
  align-items: flex-start;
  display: flex;
}

.top-bar .input-terms-group {
  align-items: flex-start;
  display: flex;
}

.search-form {
  display: flex;
}

.search-form .search-btn, .search-form .search-input {
  border-radius: 5px;
  padding: 10px;
  margin: auto 5px;
}

.search-form .search-btn {
  border: 2px solid lavender;
  background-color: transparent;
  cursor: pointer;
  color: lavender;
  font-weight: 600;
  transition: all 0.5 s;
}

.search-form .search-btn:hover {
  background-color: lavender;
  transition: all 0.5s;
  color: blue;
}

.search-form .search-input {
  border: none;
}

.search-form .search-input:focus {
  outline: none;
  box-shadow: 0 0 2px 1px black;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  position: absolute;
  top: 100px;
}

.items {
  display: flex;
  flex-basis: 70%;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  border: 2px solid rgba(0, 0, 255, 0);
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 5px;
  width: 200px;
  transition: all 0.3s;
  user-select: none;
  cursor: pointer;
  box-shadow: 0 1px 2px 1px black;
}

.item:hover {
  transition: all 0.3s;
  border: 2px solid blue;
}

.item .item__sku {
  display: none;
}

.item .item__title {
  flex-grow: 1;
  padding: 10px;
  text-align: right;
}

.item .item__image {
  width: 80%;
  align-self: center;
}

.item .item__price {
  text-align: left;
  font-weight: 500;
  font-size: 20pt;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.item .item__price:after {
  content: 'até 10x sem juros';
  font-size: 10pt;
  color:steelblue;
  font-style: italic;
}

.item .item__add {
  background-color: blue;
  border: 0;
  cursor: pointer;
  margin: 0;
  padding: 5px;
  border-radius: 3px;
  color: white;
  font-weight: 600;
}

@media screen and (max-width: 1024px) {
  .cart {
    position: fixed !important;
    right: -100vw !important;
  }
  
  .fa-shopping-cart, .fa-search {
    display: block !important;
  }

  .search-form {
    display: none !important;
  }

  .icons {
    display: flex !important;
  }
}

.icons {
  display: none;
  width: 20%;
  justify-content: space-around;
}

.fa-shopping-cart, .fa-search {
  display: none;
  font-size: 20pt;
}

.cart {
  display: flex;
  flex-basis: 30%;
  flex-flow: column wrap;
  margin: 30px;
  height: fit-content;
  width: 30%;
  position: sticky;
  top: 3px;
  border-radius: 5px;
  padding: 5px;
  background-color: lavender;
  padding: 5px;
}

.cart .cart__title {
  flex-basis: 1;
  font-size: 16pt;
  text-align: center;
}

.cart .empty-cart {
  padding: 10px;
  margin: 5px auto;
  border-radius: 5px;
  border: none;
  background-color: rgb(255, 110, 110);
  font-weight: 600;
  cursor: pointer;
  color: white;
  transition: all 0.3s;
}

.cart .empty-cart:hover {
  background-color: red;
  transition: all 0.3s;
}

.cart .cart__item {
  padding: 5px;
  border-radius: 5px;
  margin: 10px auto;
  text-align: center;
  user-select: none;
}

.cart .cart__item:hover {
  background-color: rgba(0, 0, 255, 0.5);
}

.loading {
  width: 100%;
  height: 100%;
  background-color:rgba(0, 0, 0, 0.5);
  position: absolute;
  display: flex;  
  align-items: center;
  justify-content: center;
  font-size: 20pt;
}

.loading span {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
}

.total {
  text-align: center;
  font-weight: 600;
  background-color: white;
  padding: 10px;
  margin: 10px auto;
  border-radius: 5px;
}
